.fonModal {
    background: linear-gradient(60.52deg, rgba(44, 97, 94, 0.29) 1.75%, #3A504E 84.75%);
    display: flex;
    position: fixed;
    width: 100%;
    max-width: 1920px;
    height: 100%;
    z-index: 150;
    padding: 95px 0px;
    justify-content: center;
}

.fonModal.notAct {
    display: none;
}

.notvalid {
    color: red;
    font-size: 12px;
}

.LoginWind {
    background: linear-gradient(180deg, #ffffff 0%, #EAEAEA 100%);
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 580px;
    padding: 60px;
    position: relative;
    box-shadow: 15px 15px 50px #173130;
    gap: 30px;
}

.LoginWind form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.registration {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-top: 20px;
}

.agreeStyle {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.imgClose {
    cursor: pointer;
    position: absolute;
    right: 13px;
    top: 13px;
    display: flex;
    z-index: 10;
}

.imgBack {
    cursor: pointer;
    position: absolute;
    left: 13px;
    top: 13px;
    display: flex;
    z-index: 11;
}

.password {
    display: flex;
    flex-direction: column;
    position: relative;
}

.password img {
    position: absolute;
    right: 0;
    top: 0;
}

.checkProjectStyle {
    display: flex;
    gap: 50px;
}

.checkProjectStyle div {
    display: flex;
    gap: 16px;
}

.descriptionProject {
    display: block;
    resize: none;
    width: 100%;
    border: #949494 1px solid;
    height: 100px;
    padding: 10px;
}

.descriptionProject:focus {
    border: #000000 1px solid;
    outline: none;
}

.addProjectWind {
    background: linear-gradient(180deg, #ffffff 0%, #EAEAEA 100%);
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 1160px;
    padding: 60px;
    position: relative;
    box-shadow: 15px 15px 50px #173130;
    gap: 30px;
}

.addProjectWind form {
    display: flex;
    width: 100%;
    gap: 120px;
}

.dataNewProject {
    display: flex;
    flex-direction: column;
    width: 460px;
    gap: 30px;
}

.dataNewProject span {
    width: 100%;
}

.gridVisual {
    display: grid;
    grid-template-columns: repeat(3, 140px);
    grid-template-rows: repeat(2, 160px);
    gap: 20px;
}

.imageNewProject {
    object-fit: cover;
    width: 140px;
    height: 140px;
    cursor: pointer;
}

.gridVisual div {
    position: relative;
    width: 100%;
    height: 100%;
}

.delVisual {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.statusUserOrderAdmin {
    display: flex;
    justify-content: space-between;
}

.statusUserOrderAdmin div {
    display: flex;
    gap: 16px;
    align-items: center;
}

.blockBrifOrderAdmin {
    display: flex;
    gap: 30px;
}

.halfBlockBrif {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 15px;
}

.commentOrder {
    display: block;
    resize: none;
    width: 100%;
    border: #949494 1px solid;
    height: 90px;
    padding: 10px;
    font-size: 12px;
}

.commentOrder:focus {
    border: #000000 1px solid;
    outline: none;
}

.chatWind {
    background: white;
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 320px;
    position: absolute;
    box-shadow: 0px 0px 15px #17313040;
    z-index: 1;
    right: 30px;
}

.chatWind.notAct {
    display: none;
}

.blockSendMsg {
    display: flex;
    gap: 15px;
    padding: 0px 15px 15px;
}

.messegesBlock {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 15px;
    flex-direction: column-reverse;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    --mask-image-content: linear-gradient(to bottom, transparent 5px, black 60px, black calc(100% - 20px), transparent 100%);
    mask-repeat: no-repeat, no-repeat;
    mask-image: var(--mask-image-content);
    -webkit-mask-image: var(--mask-image-content);
}

.messegesBlock::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.allMsgUser {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    justify-content: flex-end;
}

.allMsgUser:empty::before {
    content: 'Сообщений пока нет';
    display: block;
    text-align: center;
    color: #949494;
}

.onlineDis {
    display: flex;
    padding: 20px 15px;
    background: #2C615E;
    color: white;
}