.mainLay {
    width: 100%;
    display: flex;
    padding: 60px 0px;
}

.imgLayout {
    object-fit: cover;
    width: 580px;
    height: 440px;
}

.infoLay {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0px 80px 0px 145px;
    gap: 60px;
}

.block {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.blockLi {
    margin-left: 17px;
    line-height: 25px;
    font-weight: 400;
    font-size: 14px;
}

.infoLayLeft {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0px 145px 0px 80px;
    gap: 60px;
}