header {
    width: 100%;
}

.headerShort {
    display: flex;
    padding: 30px 60px;
    height: 95px;
    justify-content: space-between;
    align-items: center;
    background: white;
    z-index: 100;
    position: relative;
}

.humburger {
    cursor: pointer;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.humburger * {
    background: black;
    display: block;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .4s ease all;
    transition: .4s ease all;
    height: 1px;
    width: 28px;
}

.headerLogo {
    display: flex;
    position: absolute;
    left: calc(50% - 73px);
}

.humTopAct {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: -5% 95%;
    transform-origin: -5% 95%;
}

.humMidAct {
    width: 0;
    transform-origin: -50%;
}

.humBotAct {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: -5% 95%;
    transform-origin: -5% 95%;
}

.main {
    display: flex;
    text-decoration: none;
    color: #949494;
    font-size: 12px;
}

.main.active {
    display: none;
}

.onMain {
    display: flex;
    align-items: center;
    align-items: center;
    gap: 29px;
}

.navBarHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: absolute;
    background: white;
    width: 100%;
    max-width: 1920px;
    height: 130px;
    transform: translateY(0);
    transition: all 1s;
    z-index: 10;
}

.navBarHeader.notAct {
    transform: translateY(-130px);
    transition: all 1s;
}

.navbar {
    display: flex;
    gap: 60px;
}

.navBarHeader span {
    background: #949494;
    display: block;
    height: 1px;
    width: 1160px;
}

.loginBar {
    display: flex;
    gap: 30px;
    align-items: center;
}

.loginBar img {
    cursor: pointer;
}

.loginBar img:hover {
    content: url('../../components/UI/staticMedia/OutGreen.svg');
}