.strAllOrder {
    display: flex;
    gap: 10px;
    width: 1160px;
}

.strAllOrder form {
    display: flex;
    align-items: center;
}

.brifBtn {
    border: none;
    width: 33px;
    height: 33px;
    background: transparent;
    cursor: pointer;
}

.basketBtn {
    cursor: pointer;
    border: none;
    width: 20px;
    height: 23px;
    background: transparent;
}

.statusUserOrder {
    display: flex;
    width: 221px;
    gap: 10px;
    padding: 5px;
    align-items: center;
}

.statusUserOrder div {
    display: flex;
    gap: 5px;
}
.statusUserOrder input {
    cursor: pointer;
    width: 15px;
    height: 15px;
    border: white solid 3px;
}

.statusUserOrder label {
    font-size: 12px;
}

.statusReadyOrder {
    display: flex;
    width: 63px;
    align-items: center;
    justify-content: center;
}

.statusReadyOrder input {
    width: 20px;
    height: 20px;
}

.blockBrifOrder {
    display: flex;
    border: 1px solid #949494;
    width: 1087px;
    height: max-content;
    margin-left: 43px;
    gap: 10px;
    padding: 10px;
}

.fulStrOrder {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.imgFotoOrder {
    width: 110px;
    height: 110px;
    object-fit: cover;
    cursor: pointer;
    transition: all 0.4s;
    flex-shrink: 0;
}

.imgFotoOrder.full {
    width: auto;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: none;
    box-shadow: 15px 15px 50px #173130;
    z-index: 200;
}

.brifTextOrder {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.brifTextOrder span {
    font-size: 12px;
}

.timeReview {
    font-size: 12px;
    color: #2C615E;
    font-weight: 500;
}

.activeRev {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 100%;
    gap: 30px;
    border: #EAEAEA solid 1px;
}

.activeRev.blocked span {
    opacity: 0.5;
}

.footRev {
    display: flex;
    justify-content: space-between;
}

.pathFootRev {
    display: flex;
    gap: 30px;
    align-items: center;
}

.formList {
    display: flex;
    gap: 10px;
    align-items: center;
    height: max-content;
}