.textCollab {
    gap: 60px;
    display: flex;
    flex-direction: column;
}

.btnsCollab {
    display: flex;
    gap: 60px;
    align-items: center;
}

.partners {
    display: grid;
    grid-template-columns: repeat(5, 190px);
    gap: 52px;
    opacity: 0.5;
}

.brandsCollab {
    object-fit: cover;
    width: 190px;
}

.fonProjects {
    display: flex;
    width: 1280px;
    padding: 130px 60px;
    position: relative;
}

.filterProject {
    display: flex;
    flex-direction: column;
    padding: 27px 0px 0px;
    gap: 35px;
    position: absolute;
    left: -240px;
}

.filterProject div {
    display: flex;
    gap: 35px;
}

.filterProject label {
    color: #000000;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}

.tableProject {
    display: grid;
    grid-template-columns: repeat(2, 550px);
    grid-row-gap: 30px;
    grid-column-gap: 60px;
}

.terms {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
}

.titleBrif {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fonBrif {
    display: flex;
    flex-direction: column;
    width: 1280px;
    padding: 160px 60px 130px;
    gap: 60px;
}

.topBlockBrif {
    display: flex;
    width: 100%;
    gap: 120px;
}

.gridUserFoto {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(2, 150px);
    grid-row-gap: 25px;
    grid-column-gap: 35px;
}

.imageUser {
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.gridUserFoto div {
    position: relative;
    width: 100%;
    height: 100%;
}

.delFile {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.brifComment {
    display: block;
    resize: none;
    width: 100%;
    border: #949494 1px solid;
    height: 60px;
    padding: 10px;
}

.brifComment:focus {
    border: #000000 1px solid;
    outline: none;
}

.choiceWithoutFoto {
    display: flex;
    width: 100%;
    gap: 115px;
}

.choiceCheckboxLight {
    display: flex;
    width: 100%;
    gap: 80px;
}

.choiceCheckboxMaterial {
    display: flex;
    width: 100%;
    gap: 215px;
}

.blockLight {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 0 0 45px;
    width: 345px;
}

.blockMaterial {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 0 0 45px;
    width: 210px;
}

.fonSelectProject {
    width: 100%;
    max-width: 1920px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.titleFotoPr {
    display: flex;
    width: 100%;
    height: calc(100vw / 16 * 8);
    position: relative;
    align-items: center;
    justify-content: center;
}

.titleFotoPr span {
    position: absolute;
    color: #FFF;
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
}

.titleFotoPr img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contentProject {
    width: 1280px;
    padding: 60px;
    gap: 60px;
    display: flex;
    flex-direction: column;
}

.dataProject {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: max-content;
}

.gridProject {
    display: grid;
    grid-template-rows: repeat(4, 547px);
    gap: 30px;
    grid-template-columns: repeat(7, 1fr);
}

.gridProject img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.gridProject>*:nth-child(1) {
    grid-row: 1 / span 1;
    grid-column: span 7;
}

.gridProject>*:nth-child(2) {
    grid-row: 2 / span 1;
    grid-column: span 4;
}

.gridProject>*:nth-child(3) {
    grid-row: 2 / span 1;
    grid-column: span 3;
}

.gridProject>*:nth-child(4) {
    grid-row: 3 / span 1;
    grid-column: span 3;
}

.gridProject>*:nth-child(5) {
    grid-row: 3 / span 1;
    grid-column: span 4;
}

.gridProject>*:nth-child(6) {
    grid-row: 4 / span 1;
    grid-column: 2 / span 5;
}

.gridProject div {
    align-items: center;
    display: flex;
    padding: 70px;
}

.fonDesigner {
    display: flex;
    flex-direction: column;
    width: 1280px;
    padding: 100px 60px 130px;
}

.hatDesigner {
    display: flex;
    flex-direction: column;
    height: 167px;
    gap: 7px;
    justify-content: center;
    box-shadow: inset 0px -1px 0px #949494;
    position: relative;
}

.cotentDesigner {
    display: flex;
    width: 100%;
}

.imgDis {
    object-fit: cover;
    width: 460px;
    height: 560px;
}

.imgSert {
    object-fit: cover;
    width: 310px;
    height: 179px;
    border: #000000 1px solid;
}

.descriptionDesigner {
    display: flex;
    flex-direction: column;
    padding: 60px 100px 0px 60px;
    justify-content: space-between;
}

.descriptionDesigner span {
    text-transform: uppercase;
    width: 510px;
}

/* .adminBtnProject {
    display: flex;
    gap: 16px;
    align-items: center;
} */

.lastElementProjects {
    display: flex;
    width: 100%;
    height: 20px;
    box-shadow: inset 0px -1px 0px #949494;
}

.cotentCost {
    display: flex;
    gap: 22px;
    justify-content: center;
}

.blockCost {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    background: #EAEAEA;
    width: 265px;
    height: 504px;
    align-items: center;
}

.hatCost {
    display: flex;
    flex-direction: column;
    height: 167px;
    gap: 7px;
    justify-content: center;
    position: relative;
}

.blockCost ol {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 17px;
}

.textCost {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    width: 143px;
    height: 30px;
    background: #2C615E;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

.blockLiCost {
    margin-left: 17px;
}

.fonContact {
    display: flex;
    width: 1280px;
    padding: 130px 0px;
    flex-direction: column;
}  

.imgContact {
    object-fit: cover;
    width: 100%;
    height: 300px;
}

.cotentContact {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 60px;
}

.dataContact {
    display: flex;
    width: 100%;
    gap: 120px;
}

.dataUserContact {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 30px;
}

.strContact {
    display: flex;
    gap: 60px;
}

.boldTextContact {
    font-weight: 600;
    width: 70px;
}

.contentPolicy {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 37px;
    background: #EAEAEA;
    gap: 20px;
}

.contentReview:empty::before {
    font-size: 16px;
    color: #949494;
    content: 'Отзывов пока нет';
}

.formRev {
    display: flex;
    flex-direction: column;
    padding: 60px;
    gap: 30px;
    box-shadow: inset 0px -1px 0px #949494;
}

.contentReview {
    
    display: flex;
    flex-direction: column;
    padding: 60px 60px 0px;
    gap: 30px;
}

.lastRev {
    background: transparent;
    border: none;
    font-size: 16px;
    color: #949494;
    cursor: pointer;
    padding: 60px 0px 0px 60px;
}

.notvalidLink {
    color: red;
    font-size: 12px;
}

@media (max-width: 1780px) {

    .fonProjects {
        flex-direction: column;
        padding: 0px 60px 130px;
        align-items: center;
    }

    .filterProject {
        display: flex;
        flex-direction: row;
        position: static;
        gap: 70px;
        padding: 57px 0px;
        align-items: center;
    }
}

@media (max-width: 1170px) {
    .tableProject {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 30px;
        grid-column-gap: 60px;
    }
}