.gray14 {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #949494;
    line-height: 20px;
}

.gray14Capitalize {
    font-size: 14px;
    line-height: 20px;
    color: #949494;
    text-transform: capitalize;
}

.gray16 {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #949494;
    line-height: 20px;
}

.black16 {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    /* color: black; */
    line-height: 20px;
}

.black24 {
    font-size: 24px;
    line-height: 20px;
    font-weight: 600;
    text-transform: uppercase;
    /* display: flex; */
}

.black32 {
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 40px;
}

.white12 {
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.green16 {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #2C615E;
    text-transform: uppercase;
}

.greenWrapper {
    padding: 10px;
    display: flex;
    background: rgba(44, 97, 94, 0.60);
    height: 33px;
    align-items: center;
}

.wrapperShrink {
    display: flex;
    flex-shrink: 0;
    white-space: pre-wrap;
}