.greenButton {
    padding: 8px 15px;
    display: flex;
    width: 145px;
    height: 31px;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 15px;
    cursor: pointer;
    color: white;
    border: none;
    transition: 0.5s;
    background-image: linear-gradient(238deg, #2C615E 0%, #2C615E 33%, #9DB7B5 66%, #2C615E 100%);
    background-size: 300% 100%;
    background-position: right center;
}

.greenButton:hover {
    background-position: left center;
}

.greenButton:disabled {
    background-image: none;
    background-color: #2C615E80;
    background-size: 100% 100%;
}

.greenLink {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    color: #2C615E;
    background: transparent;
    text-decoration: none;
}

.whiteButton {
    position: relative;
    padding: 8px 15px;
    display: flex;
    border: 1px solid #949494;
    width: 145px;
    height: 31px;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 15px;
    background: none;
    cursor: pointer;
}

.lineTop,
.lineBottom,
.lineRight,
.lineLeft {
    position: absolute;
    background-color: black;
    transition: all .35s ease-out;
}

.whiteButton:disabled~.lineTop,
.whiteButton:disabled~.lineBottom,
.whiteButton:disabled~.lineRight,
.whiteButton:disabled~.lineLeft {
    width: 0;
    height: 0;
    background-color: transparent;
}

.lineTop,
.lineBottom {
    height: 1px;
    width: 0;
}

.lineLeft,
.lineTop {
    left: 0;
    top: 0;
}

.lineRight,
.lineLeft {
    width: 1px;
    height: 0;
}

.lineBottom,
.lineRight {
    right: 0;
    bottom: 0;
}

.whiteButton:hover~.lineTop,
.whiteButton:hover~.lineBottom {
    width: 100%;
}

.whiteButton:hover~.lineRight,
.whiteButton:hover~.lineLeft {
    height: 100%;
}

.whiteButton:disabled {
    border: 1px solid #949494;
    color: #949494;
}

.MenuTop {
    text-decoration: none;
    text-transform: uppercase;
    color: #2C615E;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    box-shadow: 0px 1px 0px #2C615E;
}

.MenuTop.notAct {
    box-shadow: none;
}

.MenuBot {
    text-decoration: none;
    text-transform: uppercase;
    color: #949494;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    box-shadow: 0px 1px 0px #949494;
}

.MenuBot.notAct {
    box-shadow: none;
}

.footerMenuBtn {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

.menuAdmin {
    display: flex;
    width: 163px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}

.menuAdmin:hover {
    height: 38px;
    border: #949494 1px solid;
}

.menuAdmin.act {
    background: #EAEAEA;
}

.addBlockBtn {
    display: flex;
    height: 33px;
    background: #949494;
    justify-content: center;
    color: #FFF;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    width: 100%;
    border: none;
}

.unlockBtn {
    display: flex;
    height: 33px;
    background: rgba(44, 97, 94, 0.60);
    justify-content: center;
    color: #FFF;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    width: 100%;
    border: none;
}

.sendMsgBtn {
    cursor: pointer;
    background: none;
    border: none;
    width: 40px;
    height: 40px;
}

.sendMsgBtn:disabled {
    opacity: 0.5;
}

.onlyOnline {
    height: 14px;
    width: 33px;
    position: relative;
    display: inline-block;
}


.onlyOnline input { 
    position: absolute;
    visibility: hidden;
    width: 100%;
}

.ball {
    position: absolute;
    cursor: pointer;
    background-color: #DCDCDF;
    -webkit-transition: .2s;
    transition: .2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 14px;
}

.ball:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: -3px;
    bottom: -3px;
    background-color: #F7F7F7;
    -webkit-transition: .2s;
    transition: .2s;
    border: 1px solid rgba(137, 137, 147, 0.2);
    border-radius: 50%;
  }

input:checked + .ball {
    background: #2C615E40;
}

input:checked + .ball:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

input:checked + .ball::before {
    background-color: #2C615E;
}