.fonAdmin {
    width: 1280px;
    padding: 60px 60px 130px;
    position: relative;
    gap: 60px;
    display: flex;
    flex-direction: column;
}

.navBarAdmin {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.contentAdmin {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hatTable {
    display: flex;
    gap: 10px;
}

.UserTable {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.scrollTable {
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 100%;
    height: 600px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    gap: 5px;
}

.scrollTable::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.scrollTable:empty:before {
    content: 'Заявок пока нет';
    color: #949494;
    text-align: center;
}

.lastElement {
    display: flex;
    width: 100%;
    height: 20px;
    box-shadow: inset 0px -1px 0px #949494;
}

.search {
    display: flex;
    gap: 16px;
    width: 310px;
}

.hatTableUsers {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search button {
    border: none;
    background: none;
    cursor: pointer;
}

.hatTableOrder {
    display: flex;
    gap: 10px;
    margin-left: 43px;
}

.searchOrder {
    display: flex;
    gap: 16px;
    width: 400px;
    align-items: center;
}
.searchOrder form {
    display: flex;
}

.searchOrderBtn {
    border: none;
    background: none;
    cursor: pointer;
    height: 24px;
}

.fonChatAdmin {
    display: flex;
    width: 100%;
    height: 630px;
    box-shadow: inset 0px 1px 0px #949494;
}

.UserRoom {
    display: flex;
    flex-direction: column;
    width: 390px;
    gap: 30px;
    padding: 30px 00px 0px 0px;
    box-shadow: inset -1px 0px 0px #949494;
}

.usersChatRoom {
    display: flex;
    width: 100%;
    padding: 15px 30px 15px 0px;
    justify-content: space-between;
    cursor: pointer;
    text-decoration: none;
    box-shadow: inset 0px 1px 0px #EAEAEA;
}

.usersChatRoom.act {
    background: linear-gradient(90deg, white 0%, #EAEAEA 100%);
}

.listUsers {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #2C615E #EAEAEA;
}

.listUsers:empty::before {
    content: 'Сообщений пока нет';
    display: block;
    color: #949494;
}

.listUsers::-webkit-scrollbar {
    width: 7px;
    
}

.listUsers::-webkit-scrollbar-track {
    background: #EAEAEA;
    border-radius: 4px;
}

.listUsers::-webkit-scrollbar-thumb {
    background: #2C615E;
    border-radius: 4px; 
}

.sidebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px 0px 0px;
}

.onlineTag {
    font-size: 12px;
    color: #41aa90;
}

.dataNameUserChat {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.dataUserChat {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;
    align-items: flex-end;
}

.counter {
    font-size: 12px;
    color: white;
    background: #2C615E70;
    width: fit-content;
    padding: 0px 6px;
    border-radius: 10px;
}

.counterNull {
    opacity: 0;
}

.fonList {
    display: flex;
    gap: 60px;
}

.ListMenu {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 30px;
}

.textList {
    display: block;
    resize: none;
    width: 100%;
    border: #EAEAEA 1px solid;
    height: 200px;
    padding: 10px;
}

.textList:focus {
    border: #000000 1px solid;
    outline: none;
}

.imageList {
    object-fit: cover;
    width: 140px;
    height: 140px;
    cursor: pointer;
}

.delimglist {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.addImgBlock {
    position: relative;
    width: 140px;
}

.tableList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: max-content;
    grid-row-gap: 10px;
    grid-column-gap: 30px;
    height: 400px;
    margin-top: 30px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #2C615E #EAEAEA;
}

.tableList::-webkit-scrollbar {
    width: 7px;
}

.tableList::-webkit-scrollbar-track {
    background: #EAEAEA;
    border-radius: 4px;
}

.tableList::-webkit-scrollbar-thumb {
    background: #2C615E;
    border-radius: 4px;
}

.wrapperMessage {
    display: flex;
    width: 100%;
    border: 1px solid #EAEAEA;
    padding: 0px 60px;
    justify-content: center;
}

.contentMessage {
    display: flex;
    width: 100%;
    border: 1px solid #EAEAEA;
    max-width: 600px;
    flex-direction: column;
    background: white;
    align-items: center;
}

.imgMessage {
    object-fit: cover;
    width: 100%;
}

.linkMessage {
    width: max-content;
    height: 40px;
    display: block;
    text-decoration: none;
    background: #2C615E;
    padding: 10px 20px;
    color: white;
    margin: 30px;
}