.input {
    border: none;
    background: none;
    color: black;
    box-shadow: inset 0px -1px 0px #949494;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    height: 24px;
}

.input::placeholder {
    color: #949494;
    font-size: 12px;
}

.input:focus {
    border: none;
    outline: none;
}

.midlText {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.smallText {
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    color: #979797;
    /* width: 150px; */
}

.smallTextBlack {
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    color: black;
    width: 285px;
}

.scaleTime {
    color: #2C615E;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    position: relative;
    width: max-content;
    white-space: nowrap;
}

.lineChange {
    height: 4px;
    background-color: #2C615E;
    border-radius: 2px;
    display: block;
}

.blockScale {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.blockScale input {
    cursor: pointer;
    height: 4px;
    background-color: #2C615E;
    appearance: none;
    border-radius: 2px;
}

.blockScale input::-webkit-slider-thumb {
    appearance: none;
    background-color: white;
    border: #2C615E solid 1px;
    border-radius: 50%;
    width: 22px;
    height: 22px;
}

.blockScale input::-moz-range-thumb {
    background-color: white;
    border: #2C615E solid 1px;
    border-radius: 50%;
    width: 22px;
    height: 22px;
}

.scaleArea {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    position: relative;
    width: max-content;
}

.scaleText {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.scaleText span {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
}

.timeChange {
    display: flex;
    align-items: center;
    gap: 10px;
}

.smallTextGreen {
    color: #2C615E;
}

.cellTable {
    padding: 10px;
    display: flex;
    border: 1px solid #EAEAEA;
    background: #FFF;
    align-items: center;
    font-size: 12px;
    line-height: 12px;
    min-height: 33px;
    overflow-wrap: anywhere;
}

.cellTableGrey {
    display: flex;
    height: 33px;
    background: #949494;
    justify-content: center;
    color: #FFF;
    align-items: center;
    font-size: 12px;
    line-height: 12px;
    width: 100%;
}

.cellTableGreen {
    display: flex;
    height: 33px;
    background: #2C615E;
    justify-content: center;
    color: #FFF;
    align-items: center;
    font-size: 12px;
    width: 100%;
}

.inputMsg {
    border: #2C615E40 solid 1px;
    background: none;
    color: black;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    height: 40px;
    padding: 10px;
}

.inputMsg::placeholder {
    color: #949494;
    font-size: 12px;
}

.inputMsg:focus {
    border: #2C615E solid 1px;
    outline: none;
}