.titlePr {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-decoration: none;
}

.imgProjectAva {
    width: 100%;
    height: 396px;
    object-fit: cover;
}

.hatPr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.dataPr {
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    color: #949494;
    text-transform: uppercase;
}

.areaPr {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #949494;
}

.choiceWithImg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.choiceWithImg label {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.choiceNoImg {
    display: flex;
    gap: 26px;
    align-items: center;
    width: 310px;
}

.choiceNoImg label {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.choiceCheckbox {
    display: flex;
    gap: 26px;
    align-items: center;
}

.checkboxLabel {
    font-size: 14px;
    font-weight: 400;
}

.checkboxCapsLabel {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.blockChoice {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 7px;
}

.Choice {
    display: flex;
    width: 100%;
    gap: 100px;
}

.imgChoice {
    width: 152px;
    height: 152px;
    object-fit: cover;
}

.msg {
    display: flex;
    font-size: 14px;
    align-items: center;
    align-self: stretch;
    width: 100%;
    height: max-content;
}

.time {
    font-size: 12px;
    color: #2C615E;
    line-height: 20px;
}

.timeFor {
    font-size: 12px;
    color: #949494;
    line-height: 20px;
}

.forMe {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: flex-end;
    padding: 10px;
    gap: 8px;
    width: auto;
    height: max-content;
    margin-left: 30px;
    background: #FFFFFF;
    box-shadow: 1px -1px 7px rgba(148, 148, 148, 0.4);
    border-radius: 16px 0px 16px 16px;
    word-wrap: break-word;
    word-break: break-all;
}

.me {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 8px;
    width: fit-content;
    max-width: 100%;
    height: max-content;
    margin-right: 30px;
    background: #FFFFFF;
    box-shadow: -1px 1px 6px rgba(44, 97, 94, 0.4);
    border-radius: 16px 16px 16px 0px;
    word-wrap: break-word;
    word-break: break-all;
}

.allMsg {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    justify-content: flex-end;
    padding: 30px 0px 30px 60px;
}

.allMsg:empty::before {
    content: 'Сообщений пока нет';
    display: block;
    text-align: center;
    color: #949494;
}

.messegesAdmin {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    overflow-y: scroll;
    --mask-image-content: linear-gradient(to bottom, transparent 5px, black 40px, black calc(100% - 30px), transparent 100%);
    mask-repeat: no-repeat, no-repeat;
    mask-image: var(--mask-image-content);
    -webkit-mask-image: var(--mask-image-content);
    scrollbar-width: thin;
    scrollbar-color: #2C615E #EAEAEA;
    padding: 0px 48px 0px 0px;
}

.messegesAdmin::-webkit-scrollbar {
    width: 7px;
}

.messegesAdmin::-webkit-scrollbar-track {
    background: #EAEAEA;
    border-radius: 4px;
}

.messegesAdmin::-webkit-scrollbar-thumb {
    background: #2C615E;
    border-radius: 4px;
}

.blockMsgAdmin {
    display: flex;
    flex-direction: column;
    width: 770px;
}

.formSendMsgAdmin {
    display: flex;
    gap: 15px;
    padding: 0px 0px 0px 60px;
}

.pointSt {
    display: flex;
    gap: 60px;
    align-items: center;
    height: 139px;
    width: 100%;
    box-shadow: inset 0px -1px 0px #949494;
}

.numberSt {
    display: flex;
    width: 25px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #979797;
    flex-shrink: 0;
}