footer {
    display: flex;
    background: #EAEAEA;
    padding: 50px 60px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 300px;
}

.menuFooter {
    display: flex;
    gap: 170px;
    flex-direction: row;
}

.logoFooter img {
    width: 315px;
}

.logoFooter span {
    font-size: 10px;
    line-height: 15px;
    color: #949494;
}

.navBarFooter {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.logoFooter {
    gap: 43px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textFooter {
    display: flex;
    flex-direction: column;
    max-width: 315px;
    justify-content: space-between;
    gap: 20px;
}

.textFooter form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.socioFooter {
    display: flex;
    gap: 20px;
}

.socioFooter a {
    cursor: pointer;
    height: 40px;
}

.contactFooter {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: flex-end;
}

@media (max-width: 1280px) {
    .menuFooter {
        gap: 70px;
    }
}

@media (max-width: 1024px) {
    footer {
        flex-direction: column;
        height: max-content;
        gap: 50px;
        align-items: flex-start;
    }
}