.mainFon {
    width: 100%;
    max-width: 1920px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.arrowOnTop {
    display: none;
    position: fixed;
    right: 20px;
    cursor: pointer;
    top: 50%;
    z-index: 110;
}

.arrowOnTop.act {
    display: flex;
}

.arrowOnTop.act:hover {
    content: url('../../components/UI/staticMedia/ArrowGreenAct.svg');
}

.slideShow {
    width: 100%;
    position: relative;
    height: auto;
}

.slides {
    display: flex;
    width: 100%;
    height: calc(100vw / 16 * 8);
}

.slide {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    transition-duration: 500ms;
    transition: all 1s ease-in-out;
}

.slide.act {
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 1;
    transition-duration: 500ms;
    transition: all 1s ease-in-out;
}

.imgSlides {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dots {
    display: flex;
    position: absolute;
    bottom: 40px;
    gap: 30px;
    justify-content: center;
    width: 100%;
    z-index: 1;
}

.dot {
    transition: all .5s ease-in;
    background: #FFFFFF40;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    cursor: pointer;
    display: inline-block;
}

.dot.select {
    background: #fff;
}

.gallery {
    width: 100%;
    padding: 0px 60px;
}

.hat {
    display: flex;
    flex-direction: column;
    height: 167px;
    gap: 7px;
    justify-content: center;
    box-shadow: inset 0px -1px 0px #949494;
    position: relative;
}

.authHat {
    display: flex;
    flex-direction: column;
    padding: 60px;
    gap: 30px;
    justify-content: center;
    position: relative;
}

.lineMini {
    background: black;
    display: block;
    height: 3px;
    width: 181px;
    position: relative;
    transition: left 1s;
    border-radius: 3px;
}

.titelGallery {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.slideGallery {
    display: flex;
    width: 100%;
}

.imgGallery {
    object-fit: cover;
    width: 580px;
    height: 440px;
}

.infoGallery {
    width: 50%;
    padding: 0px 60px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    position: relative;
}

.infoPrjct {
    display: flex;
    flex-direction: column;
}

.fotoStages {
    display: flex;
    align-items: flex-start;
}

.imgFotoStages {
    object-fit: cover;
    height: 556px;
    width: 460px;
}

.infoStages {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 0px 0px 60px;
}

.menuStages {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 23px;
    width: 100%;
}

.menuStages * {
    cursor: pointer;
}

.content {
    width: 1280px;
}

.dotsGal {
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
    gap: 30px;
}

.dotGal {
    background: white;
    border: #949494 1px solid;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    cursor: pointer;
    display: inline-block;
}

.dotGal.select {
    background: #949494;
}

.reviewMini {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 220px;
    border: #EAEAEA 1px solid;
    gap: 30px;
    padding: 30px;
    flex-shrink: 0;
    text-decoration: none;
}

.reviewMini img {
    width: 60px;
    height: 60px;
}

.reviewMini:hover img {
    content: url('../../components/UI/staticMedia/PlusHover.svg');
}

.reviewMini:hover {
    border: #949494 1px solid;
}

.textReviewMini {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

.reviewMainBlock {
    display: flex;
    width: 1160px;
    overflow-x: scroll;
    transform: rotateX(180deg);
    scrollbar-width: thin;
    scrollbar-color: #2C615E #FFFFFF;
}

.reviewMainBlock::-webkit-scrollbar {
    height: 7px;
}

.reviewMainBlock:empty::before {
    content: 'Отзывов пока нет';
    color: #949494;
}

.reviewMainBlock::-webkit-scrollbar-track {
    background: #FFFFFF;
}

.reviewMainBlock::-webkit-scrollbar-thumb {
    background: #2C615E;
}

.blockScrollReview {
    display: flex;
    transform: rotateX(180deg);
    padding: 60px 0px 130px;
    gap: 40px;
}

.blockScrollReview:empty::before {
    content: 'Отзывов пока нет';
    color: #949494;
}

.formOrder {
    display: flex;
    width: 100%;
}

.blockSend {
    display: flex;
    gap: 60px;
    align-items: center;
}

.OrderBlock {
    width: 100%;
    padding: 0px 60px;
}

.OrderBlock form {
    box-shadow: inset 0px 1px 0px #949494;
}

.blockMiniBrif {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 30px;
    padding: 60px;
}

.welcome {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 60px 0px;
}