*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #000000;
}

body {
    display: flex;
    width: -webkit-fill-available;
    justify-content: center;
}

#root {
    width: 100%;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="checkbox"] {
    display: block;
    width: 15px;
    height: 15px;
    cursor: pointer;
    -webkit-appearance: none;
    border: #2C615E solid 1px;
}

input[type="checkbox"]:checked {
    background-color: #2C615E;
    border: white solid 3px;
    outline: #2C615E solid 1px;
}

input[type='radio'] {
    -webkit-appearance: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    outline: 1px solid #000000;
    border: 5px solid white;
    background: white;
}

input[type='radio']:checked {
    background: #2C615E;
}

input[type='file'] {
    display: none;
}
